<main id="candidat-enregistrer">
    <section class="container valign-wrapper">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <form >
                    <h5>Crée un compte candidat</h5>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="email" name="email">
                        <label for="email">Adresse email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">password</i>
                        <input type="password" name="motDePasse">
                        <label for="motDePasse">Mot de passe</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="motDePasseConfirmation">
                        <label for="motDePasseConfirmation">Confirmation mot de passe</label>
                    </div>
                    <div class="input-field">
                        <button class="btn teal darken-4">Enregistrer</button>
                    </div>
                </form>
                <p>Si vous avez déja un compte, <a routerLink="/candidat/connexion">veuillez cliquez ici</a></p>

            </div>
        </div>
    </section>
</main>
