<main id="candidat-connexion">
    <section class="container valign-wrapper">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <form >
                    <h5>Crée une offre</h5>
                    <div class="input-field">
                        <i class="material-icons prefix">title</i>              
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Saisiez le titre</label>  
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">description</i>
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Description</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">work</i>
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Compétences requises</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="number" min="1" max="10">
                        <label for="textarea1">Expérience requise</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">attach_money</i>
                        <input type="number">
                        <label for="textarea1">Salaire</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">location_on</i>
                        <input type="text" >
                        <label for="textarea1">Lieu</label>
                    </div>
                    
                    <div class="input-field">
                        <button class="btn teal darken-4">Enregistrer</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>
