.head {
    padding: 1rem 1.5rem;

    .row {
        width: 100%;
        margin-bottom: 0;
    }

    .title {
        font-weight: bold;
        line-height: 30px;
    }
}

nav {
    background-color: #E0E0E0;

    ul a {
        font-size: 1.15em;
    }

    .home {
        font-size: 3em;
    }
}