<header>
    <div class="head hide-on-med-and-down valign-wrapper">
        <div class="row">
            <div class="col m3 l2">
                <a routerLink="/" class="title"><span class="yellow-text text-darken-4">SEN</span> <span class="blue-text text-darken-2">RECRUTEMENT</span></a>
            </div>
            <div class="col m4 offset-m4 l4 offset-l6" *ngIf="!utilisateurSRV.estConnecte()">
                <a routerLink="/connexion" class="right btn flow-text teal darken-4"><i class="material-icons left">person</i>Se connecter</a>
            </div>
        </div>
    </div>
    
    <nav class="nav-wrapper">
    
        <a href="" class="brand-logo hide-on-large-only"><span class="yellow-text text-darken-4">SEN</span> <span class="teal-text text-darken-3">RECRUTEMENT</span></a>
        <a href="" class="sidenav-trigger teal-text darken-4" data-target="mobile-nav"><i class="material-icons">menu</i></a>
    
        <div class="container">
            <ul class="hide-on-med-and-down">
                <li><a routerLink="/" class="blue-grey-text text-darken-4"><i class="material-icons teal-text home text-darken-4">home</i></a></li>
                <li><a href="" class="blue-grey-text text-darken-4">Les entreprises qui recrutent</a></li>
                <li><a href="" class="blue-grey-text text-darken-4">Conseils carrière</a></li>
            </ul>
        
            <ul class="hide-on-med-and-down right">
                <li>
                    <a routerLink="/utilisateur/offre/enregistrer" *ngIf="permissionRecruteurOuAdmin(utilisateur)" class="blue-grey-text text-darken-4 right">Publier une offre d'emploi</a>
                </li>
                <li>
                    <a [href]="'#'" *ngIf="utilisateurSRV.estConnecte()"  (click)="deconnexion()" class="blue-grey-text text-darken-4 right">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>