main#offre-detail{

    .card {
        .card-content h2{
            font-weight: 400;
            font-size: 2em;
            margin: .40rem 0;

        }

        .card-content .separateur {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .row {
            margin-bottom: 0;
        }
    }
}