main#offre-detail{

    .card {
        .card-content h2{
            font-weight: 400;
            font-size: 2em;
            margin: .40rem 0;

        }

        .offre-img {
            object-fit: cover;
        }

        .autheur {
            padding: 10px 20px;
            border-radius: 8px;
        }

        .card-content .separateur {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .row {
            margin-bottom: 0;
        }
    }
}