

.container {
    padding-left: 3rem;
    padding-top: 2rem;
}

form {
    padding: 2rem;
    border-radius: 8px;
}


@media only screen and (max-width: 992px) {

    .container {
        padding-left: 0rem;
    }

}