<app-navbar />

<main>

    <div class="container">
       
        <div class="row">
            <div class="col s12 l6 offset-l3">
                
                <div class="card">
                    <div class="card-action blue darken-2 grey-text text-lighten-3">
                        <h4 class="center">Ajouter un rôle</h4>
                    </div>
                    <div class="card-content">
                        <h5 class="green-text" *ngIf="role.msg">{{ role.msg }}</h5>
                        <div class="input-field">
                            <i class="material-icons prefix">supervisor_account</i>
                            <input type="text" [(ngModel)]="roleDonnees.intitule" nom="intitule" id="intitule">
                            <label for="intitule">nom du role</label>
                            <span class="red-text" *ngIf="erreurs.intitule"> {{ erreurs.intitule.msg }}</span>
                        </div>
                        <div class="input-field center">
                            <button class="btn blue darken-2" (click)="enregistrerRole()" type="submit">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>