section.rechercher {
    min-height: 500px;
    .row {
        margin-bottom: 0;

        .col {
            padding: 0;
        }
        h3 {
            padding-bottom: 2rem;
        }

        .input-field {
            margin: 0;
        }

        .input-field .material-icons {
            padding-left: .5rem;
        }

        input[type=text] {
            background-color: #FFF;
            border-bottom: none;
            box-shadow: none;
            padding-left: 3rem;
            margin-bottom: 0;
    
            &::placeholder{
                color: #607d8b;
            }
        }

        button {
            height: 45px;
            line-height: 45px;
        }
    }

    
}

@media only screen and (max-width: 992px){

    section.rechercher {
        
        .row {
            .input-field {
                margin-bottom: 15px;
            }

            .input-field .material-icons {
                padding-left: .5rem;
            }
        }
    }
}