

.container {
    padding-left: 3rem;
    padding-top: 2rem;
}

.entreprise-btn {
    margin-top: 2rem;
}

.pas-de-cv {
    opacity: .5;
}

@media only screen and (max-width: 992px) {

    .container {
        padding-left: 0rem;
    }

}