<app-navbar />

<main>

    <div class="container">

        <div class="row">
          <div class="col s12 l8 offset-l2">

            <a routerLink="/categorie/ajouter" class="btn teal darken-4">Ajouter une profession</a>

            <h5 class="green darken-2 white-text" [ngClass]="{flash: categorie?.msg}">{{categorie?.msg}}</h5>


            <table class="striped">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>L'INTITULÉ DU POSTE</th>
                      <th>ACTION</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr *ngFor="let cat of categories; index as ind">
                    <td>{{ ind + 1 }}</td>
                    <td> {{ cat.intitule }}</td>
                    <td>
                        <a [href]="'#categorie'" (click)="recuperCategorie(cat.id)" class="btn-floating waves-effect waves-light btn modal-trigger"><i class="material-icons grey darken-2">edit</i></a>&nbsp;
                        <a (click)="supprimerCategorie(cat.id)" class="btn-floating"><i class="material-icons red">delete</i></a>
                    </td>
                  </tr>
        
                </tbody>
            </table>

            <div id="categorie" class="modal">
              <div class="modal-content">
                
                <div class="card">
                  <div class="card-action blue darken-2 grey-text text-lighten-3">
                      <h4 class="center">Modification de la profession</h4>
                  </div>
                  <div class="card-content">
                      <div class="input-field">
                          <i class="material-icons prefix">supervisor_account</i>
                          <input type="text" [(ngModel)]="categorieDonnees.intitule" [value]="categorie?.intitule" nom="intitule" id="intitule">
                          <label for="intitule" class="active">nom du role</label>
                          <span class="red-text" *ngIf="erreurs.intitule"> {{ erreurs.intitule.msg }}</span>
                      </div>
                      <div class="input-field center">
                          <button class="btn blue darken-2 modal-close" (click)="modifierCategorie(categorie?.id)" type="submit">Modifier</button>
                      </div>
                  </div>
              </div>

              </div>
              <div class="modal-footer">
                  <a routerLink="/categories" class="modal-close waves-effect waves-green btn-flat orange"><i class="material-icons white-text">close</i></a>
              </div>
            </div>
            
          </div>
        </div>

    </div>
</main>