
<app-navbar />

<main id="candidat-enregistrer">
    <section class="container">
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <form >
                    <h3>Crée votre profile</h3>
                    <div class="input-field">
                        <i class="material-icons prefix">perm_identity</i>
                        <input type="text" [(ngModel)]="profileDonnees.nom" name="nom" id="nom">
                        <label for="nom">Nom de famille</label>
                        <span class="red-text" *ngIf="erreurs.nom"> {{ erreurs.nom.msg }} </span>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input type="text" [(ngModel)]="profileDonnees.prenom" name="prenom" id="prenom">
                        <label for="prenom">Prénom</label>
                        <span class="red-text" *ngIf="erreurs.prenom"> {{ erreurs.prenom.msg }} </span>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="date" [(ngModel)]="profileDonnees.dateDeNaissance" name="dateDeNaissance" id="dateDeNaissance">
                        <label for="dateDeNaissance">Date de naissance</label>
                        <span class="red-text" *ngIf="erreurs.dateDeNaissance"> {{ erreurs.dateDeNaissance.msg }} </span>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        <input type="tel" [(ngModel)]="profileDonnees.telephone" name="telephone" id="telephone">
                        <label for="telephone">Numéro de téléphone</label>
                        <span class="red-text" *ngIf="erreurs.telephone"> {{ erreurs.telephone.msg }} </span>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">location_on</i>
                        <input type="text" [(ngModel)]="profileDonnees.ville" name="ville" id="ville">
                        <label for="ville">Ville</label>
                        <span class="red-text" *ngIf="erreurs.ville"> {{ erreurs.ville.msg }} </span>
                    </div>
                    <div class="input-field">
                        <button class="btn teal darken-4" (click)="enregistrerProfile()">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
