<app-navbar />

<main>
    <app-rechercher />

    <section id="offres">

        <article class="container">

            <div class="row">

                <div class="col s12">
                    <p>Tous les résultats</p>
                </div>
    
                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Pikine</span>, il ya 2 jours</span>
                            <span class="card-title">Vendeur</span>
                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 250 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/offre', 8]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Golf</span>, il ya 7 jours</span>
                            <span class="card-title">Responsable Commercial</span>
                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 450 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['/offre', 2]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Guédiawaye</span>, il ya 16 jours</span>
                            <span class="card-title">Développeur web</span>
                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 300 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['offre', 12]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Pikine</span>, il ya 3 jours</span>
                            <span class="card-title">Développeur web</span>
                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 350 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['offre', 12]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Parcelles</span>, il ya 29 jours</span>
                            <span class="card-title">Assistant Commercial</span>
                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 150 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['offre', 12]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="card blue-grey-text text-darken-2">
                        <div class="card-content">
                            <span><span class="ville">Thiés</span>, il ya 22 jours</span>
                            <span class="card-title">Technicien éléctronique</span>

                            <div class="details">
                                <span class="card-title teal lighten-5"><i class="material-icons left">business</i> Nom d'entreprise</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">monetization_on</i> 240 000 FCFA</span>
                                <span class="card-title teal lighten-5"><i class="material-icons left">timer</i>Temps plein</span> 
                            </div>                           
                        </div>
                        <div class="card-action">
                            <a [routerLink]="['offre', 12]" class="btn teal darken-4">En savoir plus</a>
                        </div>
                    </div>
                </div>

            </div>

        </article>
    </section>
</main>