<main id="candidat-connexion">
    <section class="container valign-wrapper">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <form >
                    <h5>Veuillez vous identifier</h5>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="email" name="email">
                        <label for="email">Adresse email</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">password</i>
                        <input type="password" name="motDePasse">
                        <label for="motDePasse">Mot de passe</label>
                    </div>
                    
                    <div class="input-field">
                        <button class="btn teal darken-4">Se connecter</button>
                    </div>
                </form>
                <p>Vous n'avez pas de compte, <a routerLink="/candidat/enregistrer">veuillez cliquez ici</a></p>

            </div>
        </div>
    </section>
</main>
