<nav class="nav-wrapper blue darken-1">
    <a href="" class="sidenav-trigger" data-target="sidenav-mobile"><i class="material-icons">menu</i></a>

    <ul class="hide-on-med-and-down right">
        <li><a routerLink="/dashbord" class="white blue-grey-text text-darken-3">DASHBORD</a></li>
        <li><a href="#" class="btn white blue-text text-darken-4" (click)="deconnexion()"><i class="material-icons">exit_to_app</i></a></li>
    </ul>
</nav>

<ul id="sidenav-mobile" class="sidenav sidenav-fixed blue darken-4">
    <li><div class="user-view">
      <div class="background">
        <img src="https://cdn.pixabay.com/photo/2017/10/31/11/30/binary-2904980_1280.jpg" width="200" height="200" alt="Image de profil">
      </div>
      <a href="#user">
        @if (avatar.lien) {
          <img [src]="avatar.lien" [alt]="avatar.type" class="responsive-img circle">
        }@else {
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="200" height="200" class="responsive-img circle" alt="Image de profil">
        }
      </a>
      <a href="#name"><span class="white-text name" *ngIf="utilisateur?.profile?.prenom"> {{ utilisateur?.profile?.prenom }}</span></a>
      <a href="#email"><span class="white-text email">{{ utilisateur?.email}}</span></a>
    </div></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">GÉRER MON COMPTE</a></li>
    <li><a class="waves-effect white" routerLink="/dashbord">DASHBORD</a></li>
    <li><a class="waves-effect white" routerLink="/utilisateur/profile">Mon profile</a></li>
    <li *ngIf="permissionAdmin()"><a class="waves-effect white" routerLink="/categories">Catégories</a></li>
    <li *ngIf="permissionAdmin()"><a class="waves-effect white" routerLink="/roles">Roles</a></li>
    <li *ngIf="permissionAdminOuRecruteur()"><a class="waves-effect white" routerLink="/utilisateur/offres">Offres</a></li>
    <li><a class="waves-effect white hide-on-large-only" href="#!">Déconnexion</a></li>
</ul>