nav, header, main, footer {
    padding-left: 300px;
}

.name, .email {
    font-weight: bold !important;
}

@media only screen and (max-width: 992px) {
    nav, header, main, footer {
        padding-left: 0;
    }
}